<html>
  <body>
    <h1>Order Confirmation for Order #<%= @order.id %></h1>

    <h3>Hello,</h3>
    <p>Thank you for shopping with us. Your order details are indicated below. </p>

    <h2>Order Details</h2>
    <%= render 'orders/item' %>
  </body>
</html>
