<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @category.size, 'category' %>)</small>
    </h1>
  </header>

  <div class="categories">
    <%= render @category %>
  </div>

</section>
